{% load static %}

<header id="header">
    <!-- logo -->
     <div id="header-logo-wrapper">
        <a id="header-logo" href="/">
            <img id="header-logo-image" src="{% static 'core/img/logo.jpg' %}" alt="">
            <h1 id="header-logo-text">Portfolio</h1>
        </a>
     </div>
    <!-- navigation -->
     <div id="header-navigation-wrapper">
        <nav id="header-navigation">
            <ul>
                <li><a href="/skills">スキル</a></li>
                <li><a href="creations">制作物</a></li>
                <li><a href="/notes">備忘録</a></li>
                <li><a href="/contact">連絡先</a></li>
            </ul>
        </nav>
     </div>
</header>