<footer class="footer">
    <!-- social media -->
     <div class="footer-social-media">
        <ul>
            <!-- GitHub -->
             <a href="https://github.com/shutokatsumata" target="_blank">
                <i class="fa-brands fa-github fa-2x"></i>
                GitHub
             </a>
            <!-- X -->
             <a href="https://x.com/robots.txt" target="_blank">
                <i class="fa-brands fa-twitter-x fa-2x"></i>
             </a>
        </ul>
     </div>
    <!-- copyright -->
     <div class="footer-copyright-wrapper">
        <small class="footer-copyright">
            Designed and Developed by ShutoKatsumata. &copy; 2024. All rights reserved.
        </small>
     </div>
</footer>