<header id="header">
    <!-- logo -->
     <div id="header-logo">
        <a href="/">
            <img src="logo.png" alt="">
        </a>
     </div>
    <!-- navigation -->
     <div id="header-navigation-wrapper">
        <nav id="header-navigation">
            <ul>
                <li><a href="#">スキル</a></li>
                <li><a href="#">作品</a></li>
                <li><a href="#">備忘録</a></li>
                <li><a href="#">連絡先</a></li>
            </ul>
        </nav>
     </div>
</header>