{% extends 'base.html' %}
{% load static %}
{% block title %}お問い合わせ{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">{% endblock %}

    {% block content %}
    <div id="contact">
        <h2 class="page-title">お問い合わせ</h2>
        <p>どんなことでもお気軽にお問い合わせください。</p>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li {% if message.tags %} class = "{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <div id="contact-form-wrapper">
            <form id="contact-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    {{ field.label_tag }}<br>
                    {{ field }}
                        <p></p>
                </div>
                {% endfor %}
                <button type="submit">
                    確認
                </button>
            </form>
        </div>
    </div>
    {% endblock %}